* {
  font-family: 'Roboto';
}
.list-container {
  display: flex;
  padding: 10px;
  align-items: center;
}
.time-para {
  color: #64748b;
}
.image-logo {
  height: 20px;
  margin-left: 40px;
}
.name {
  color: #475569;
  font-size: 15px;
  margin-left: 10px;
}
.domain {
  color: #64748b;
  margin-left: 10px;
}
.button {
  background-color: transparent;
  cursor: pointer;
  border-width: 0;
  margin-left: auto;
}
